@keyframes openDialog {
    from {
      transform: translateY(-30px) rotate(-5deg) scale(0.9); /* Slide, rotate, and scale */
      opacity: 0;
    }
    to {
      transform: translateY(0) rotate(0) scale(1);
      opacity: 1;
    }
  }
  
  @keyframes closeDialog {
    from {
      transform: translateY(0) rotate(0) scale(1);
      opacity: 1;
    }
    to {
      transform: translateY(-30px) rotate(5deg) scale(0.9); /* Reverse the effects */
      opacity: 0;
    }
  }
  
  

  .dialog[open] {
    animation: openDialog 0.5s ease-in-out forwards; /* 0.5s duration with ease-in-out */
  }
  
  .animate-close {
    animation: closeDialog 0.4s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; /* Custom timing function */
  }
  
